@font-face { /*Adicionando fonte*/
    font-family: 'Poppins';
    src: url(./fontes/Poppins/Poppins-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    /* Criação de fundo gradiente, no qual informei 3 cores */
    background-image: linear-gradient(#B81476, #672485, #ED217C);
    font-family: 'Poppins'; /*Utilizando a fonte adicionada*/
}

header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 2%;
    /*Para fazer com que o cabeçalho siga o scroll do mouse*/
    position: sticky;
    top: 0;
    /**/
    /*Acrescenta um sombra no cabeçalho*/
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
    border: 2px;
}

.menu a{
    color: #B81476;
    font-weight: bold;
    text-decoration: none;
    font-size: 150%;
    margin: 15px;
}

#secao1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 5%;
}

#secaoImagem img{
    width: 110%;
}

.texto{
    font-size: 130%;
    color: white;
    font-weight: bold;
    text-align: end;
    font-size: 150%;
    margin-bottom: 10%;
    margin-left: 10%;
}

.titulo{
    color: white;
    font-size: 400%;
}

#botaoSimulacao{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    color: #672485;
    font-size: 200%;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    white-space: nowrap; /*Para não quebrar a linha do botao*/
    border-radius: 20px;
    font-weight: bold;
}

/* ------------------------------secao2-------------------------- */
#secao2{
    background-color: white;
    padding-top: 2%;
    padding-bottom: 5%;
}


#titulo2{
    color: #960a8a;
    font-size: 350%;
}

#divisaoSecao2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 4%;
    padding-right: 4%;
}

#divisaoSecao2 img{
    width: 100%;
    margin-left: 10%;
}

.topicoRoxo{
    background-color: purple;
    color: white;
    font-size: 200%;
    width: 70%;
    padding: 1%;
    font-weight: bold;
}

.topicoCinza{
    background-color: #D9D9D9;
    color: purple;
    font-size: 200%;
    font-weight:  bold;
    width: 65%;
    padding: 1%;
}

#botaoSecao2{
    background-color: purple;
    color: white;
    font-weight: bold;
    font-size: 200%;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px;
    white-space: nowrap;
}

/* ---------------------secao3------------------------- */
#secao3{
    background-color: #B81476;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 5%;
}

#secao3Divisao{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#secao3 img{
    width: 100%;
    margin-right: 10%;
}

/* ------------------------------secao4-------------------------- */
#secao4{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 5%;
    padding-top: 2%;
}

#inputDuvida{
    border: 2px solid #B81476;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    font-size: 130%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    resize: none;
    outline: none; /*Impede que a borda mude de cor ao ser clicada*/
    margin-bottom: 3%;
}

#secao4 img{
    width: 100%;
}

#secao4Esquerdo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#secao4 a{
    background-color: #B81476;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 150%;
    padding-left: 38%;
    padding-right: 38%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
}

/* ------------------Rodapé----------------------- */
footer{
    background-image: linear-gradient(#B81476, #672485);
    /*O grid aqui define o espaço onde está a tag como tabela*/
    display: grid;
    /*Aqui eu separei em 3 colunas com 33,3% cada*/
    grid-template-columns: 33,3% 33,3% 33,3%;
    padding: 2%;
 
}

#footerMenu{
    /*Por eu ter usado o grid, tive que definir as posições
    de cada objeto*/
    /*Linha inicial e final*/
    grid-row-start: 1;
    grid-row-end: 1;
    /*Coluna inicial e final*/
    grid-column-start: 1;
    grid-column-end: 1;
    color: white;
    text-align: start;
    margin-left: 10%;
    
}

#footerTermos{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    color: white;
}

#footerRedesSociais{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    color: white;
    text-align: end;
    margin-right: 10%;
}

.opcaoFooter{
    text-decoration:none;
}
