/* ------ ESTILIZAÇÃO MENU ----- */
.btn-home {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1em;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  .btn-home::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: #B81476;
    transition: 0.2s ease;
  }
  
  .btn-home:hover {
    color: #ffffff;
    transition-delay: 0.2s;
  }
  
  .btn-home:hover::before {
    width: 100%;
  }
  
  .btn-home::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #B81476;
    border-radius: 40px;
    transition: 0.2s ease;
    z-index: -1;
  }
  
  .btn-home:hover::after {
    height: 100%;
    transition-delay: 0.2s;
    color: aliceblue;
  }

  /* ------ CENTRAL DE AJUDA ----- */

#secaoAjudaCompleto{
    padding-top: 2%;
    background-color: white;
    font-size: 180%;
    padding-left: 4%;
    padding-right: 4%;
}

#secaoAjuda{
    display: flex;
}

#secaoAjuda img{
    width: 50%;
    height: 50%;
}

#secaoAjuda p{
    text-align: end;
    margin-left: 10%;
}

#secaoFormulario{
    padding: 4%;
}

#secaoFormulario textarea{
    border: 2px solid #B81476;
    border-radius: 5px;
    width: 95%;
    height: 100%;
    font-size: 130%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    resize: none;
    outline: none; /*Impede que a borda mude de cor ao ser clicada*/
    margin-bottom: 3%;
}


#secaoFormulario a{
    
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 150%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
   
}

h1{
    font-weight: 1000;
    font-size: 50px;
    font-family: 'Poppins';
    margin-bottom: 5%;
}